version: '3.7'

services:
  documently-mongodb:
    image: mongo:4.0.19
    restart: always
    container_name: documently-mongodb
    ports:
      - 27017:27017

  documently-rest-service:
    image: documently-rest-service
    restart: always
    container_name: documently-rest-service
    ports:
      - 9090:9090
      - 9091:9091
    environment:
      - SPRING_DATA_MONGODB_DATABASE=documently-rest-service
      - SPRING_DATA_MONGODB_HOST=mongodb
      - SPRING_DATA_MONGODB_PORT=27017
      - SPRING_PROFILES_ACTIVE=dev
      - SERVER_PORT=9090
      - MANAGEMENT_SERVER_PORT=9091
    depends_on:
      - documently-mongodb